

.main{
  align-items: center;
  text-align: center;

}
/* services */

/* for header */
.hero-ecommerce {
  padding: 210px 120px;
  background: #FF373708;
}

.container-ecommerce {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row-ecommerce {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-10 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.page-title {
  text-align: center;
}

.page-tittle h1 {
  font-family: var(--font-pop);
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-heading);
  margin: 0px;
}

.breadcrumbs-link {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

.breadcrumbs-link ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.breadcrumbs-link a {
  display: inline-block;
  transition: all 0.3s ease-out 0s;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

/* service card */

.services-card {
  border: none;
  padding: 20px 25px;
}

.col {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.card-text {
  text-align: center;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.services-tittle {
  margin-top: 25px;
  margin-left: 30px;
  font-size: 22px;
  margin-bottom: 20px;



}

.services-tittle h4 {
  font-weight: 600;
  line-height: 1.2;
  font-family: sans-serif;
  margin: 0px;
  color: #222f5a;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.services-tittle a {
  text-decoration: none;
  color: #222f5a;
}

.services-tittle a:hover {
  color: #007bff;
}

#div-services {
  width: 23rem;
  text-align: center;
  justify-content: center;
}

.card-img-top {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  vertical-align: middle;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 180px;
  height: 180px;
  margin: 0px 10px 30px 20px;



}

#img-top {
  width: 20rem;
  height: 13rem;
}

.card-text {
  color: #565872;
}

.container-services {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.9;
}



/* Ecommerce-website and all routes*/


.hero-ecommerce{
  padding: 210px 120px;
  background: #FF373708;
}
.container-ecommerce{
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row-ecommerce{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-10{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.page-title{
  text-align: center;
}
.page-tittle h1{
  font-family: var(--font-pop);
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-heading);
  margin: 0px;
}
.breadcrumbs-link{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
}
.breadcrumbs-link ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.breadcrumbs-link a{
  display: inline-block;
  transition: all 0.3s ease-out 0s;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}


.container-a{
  text-align: center;
}

.entry{
  text-align: inherit;
  margin: 20px 90px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: unset;
}
.entry h3{
  line-height: 40px;
  color: #222f5a;
}
.summerynote{
  color: #565872;
  line-height: 1.9;
}
.post{
  align-items: center;
text-align: center;
margin-bottom: 20px;
}
.social{
  display: flex;
flex-wrap: wrap;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: left;
margin: 10px;
text-align: left;
}
.social ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.social li{
  float: left;
  list-style: none;
  text-align: center;
  background-color:#fff;
  margin-left: 40px;
}
.social li a{
 
  display: block;
  padding: 5px 15px;
  line-height: 20px;
  border: 1px solid #3b5998;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.social li a .fa-facebook{
  color: #3b5998;
  border-color: #3b5998;
  
  
}
.social li a .fa-twitter{
  color: #00acee;
  border-color: #00acee;
}
.social li a .fa-linkedin{
  color: #0e76a8;
  border-color: #0e76a8;
}

